@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$cor1 : #bf262b;
$cor1dark : #7c1115;
@mixin transicao($tempo) {
	-webkit-transition: $tempo;
	-moz-transition: $tempo;
	-o-transition: $tempo;
	transition: $tempo;
}

* {font-family: 'Open Sans', sans-serif;}
body {
	background: #FFF !important;
	margin: 0 !important;
	padding: 0 !important;
}

img {max-width: 100%; height: auto;}
$alturaheader : 80px;

#content {padding-top: $alturaheader}
.single-post #content,
.page #content {padding-top: 0;}

.container {
	width: auto;
	max-width: 1440px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #bf262b;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000;
}

form {
	input,button {padding: 10px; outline: none; border-radius: 3px;}
	input[type="text"],
	input[type="email"],
	textarea {
		border: 0;
		background: rgb(250,250,250);
	}

	input[type="submit"],
	button {
		background: $cor1;
		color: #FFF;
		font-weight: 700;
		text-transform: uppercase;
		border: 0;
		@include transicao(0.5s);
		&:hover {background: $cor1dark;}
	}
}

header#site {

	width: 100%;
	position: fixed;
	z-index: 500;
	height: $alturaheader;

	//&.fixed {position: fixed;}

	.headerWrapper {
		background: rgba(255,255,255,1);
		-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.16);
		-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.16);
		box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.16);
		//padding: 20px;
		position: relative;
		z-index: 1;
		height: $alturaheader;;
	}

	a.logo {
		float: left;
		height: 52px;
		width: 170px;
		padding: 10px 0;
		background: url('../img/logo.svg') no-repeat;
		overflow: hidden;
		text-indent: -9999px;
		margin-top: 10px;
		@include transicao(0.5s);
		&:hover {opacity: 0.7;}
	}

	nav {
		float: left;
		margin-left: 50px;
		@media (max-width: 990px) {
			margin-left: 20px;
		}
		ul {
			list-style: none;
			list-style-position: inside;
			padding-left: 0;
			margin: 0;
			margin-top: 25px;
			li {
				margin-right: 30px;
				float: left;
				@media (max-width: 990px) {
					margin-right: 10px;
				}
				a {
					font-size: 15px;
					color: #000;
					text-decoration: none;
					@include transicao(0.3s);
					&:hover {color: $cor1;}
				}
			}
		}
	
		@media (max-width: 768px) {
			.fa-chevron-right {display: block;}
			ul {
				position: fixed;
				right: 0;
				top: 55px;
				width: 220px;
				height: 100%;
				display: block;
				background: $cor1;
				@include transicao(0.2s);
				-webkit-transform: translateX(220px);
				-moz-transform: translateX(220px);
				-ms-transform: translateX(220px);
				transform: translateX(220px);
				overflow-x: hidden;
				/*-webkit-box-shadow: inset -5px 0px 5px 0px rgba(50, 50, 50, 0.75);
				-moz-box-shadow:    inset -5px 0px 5px 0px rgba(50, 50, 50, 0.75);
				box-shadow:         inset -5px 0px 5px 0px rgba(50, 50, 50, 0.75);*/
				&.ativa {
					-webkit-transform: translateX(0px);
					-moz-transform: translateX(0px);
					-ms-transform: translateX(0px);
					transform: translateX(0px);
				}
			}
			ul li {
				float: none;
				margin-right: 0;
				a {
					@include transicao(inherit);
					background-color: $cor1;
					border-bottom: 1px solid #9e1f23;
					width: 100%;
					display: block;
					padding: 10px;
					max-width: 280px;
					color: #FFF;
					&:hover {
						color: #FFF;
						background: #9e1f23;
					}
				}
			}
		}
	}

	@media (max-width: 768px) {
		.search {margin-right: 20px;}
	}
	
	.search,
	.menuMobile {
		margin-top: 25px;
		float: left;
		i {
			cursor: pointer;
			//color: $cor1;
			color: #CCC;
			font-size: 24px;
		}
	}
	.menuMobile {
		display: none;
		@media (max-width: 768px) {
			display: block;
		}
	}

	.searchbox {
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		height: 59px;
		background: #EEE;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px);
		-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.16);
		-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.16);
		box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.16);
		width: 100%;
		z-index: 0;
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		 	color: #999;
		}
		::-moz-placeholder { /* Firefox 19+ */
		 	color: #999;
		}
		:-ms-input-placeholder { /* IE 10+ */
			color: #999;
		}
		:-moz-placeholder { /* Firefox 18- */
			color: #999;
		}
		@include transicao(0.2s);
		input {
			width: 100%;
			position: relative;
			background: none;
			border: 0;
			font-size: 18px;
			//font-weight: 700;
			color: #999;
			&:focus {outline: none;}
		}
		button {
			position: absolute;
			right: 0;
			top: 0;
			background: none;
			outline: none;
			border: 0;
			i {
				margin-top: 5px;
				color: #999;
				font-size: 18px;
			}
		}
		input, button {padding: 15px;}
		/*executado quando clica na lupa*/
		&.abre {
			-webkit-transform: translateY(56px);
			-moz-transform: translateY(56px);
			-ms-transform: translateY(56px);
			transform: translateY(56px);
		}
	}
}

$alturabanner : 500px;

.page .post {margin-bottom: 20px;}
.page .post,

.post {
	position: relative;
	display: block;
	@include transicao(0.4s);
	&:hover {
		opacity: 0.9;
	}
	
	.calltoaction {
		color: $cor1;
		display: inline;
	}

	.cat {
		a {color: #777 !important;}
		display: inline;
		margin-left: 10px;
		//font-size: 18px;
		padding-left: 10px;
		border-left: 1px solid #EEE;
	}

	.thumbnail {
		position: relative;
		display: block;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border: 0;
		border-radius: 0;
		padding: 0;
		overflow: hidden;
		width: 100%;
		height: 100%;
		img {
			@include transicao(0.3s);
			min-height: 100%;
			max-width: inherit;
			left: 50%;

		}
	}

}

.content-category {
	h2.title {
		//font-weight: 700;
		color: #000;
		margin-bottom: 20px;
		&:after {
			width: 100px;
			height: 3px;
			background: $cor1;
			content: "";
			display: table;
			margin-top: 10px;
		}

		a {
			color: #000 !important;
			text-decoration: none !important;
		}

	}
}

footer#site {
	position: relative;
	width: 100%;
	color: #777;
	left: 0;
	bottom: 0;
	z-index: 50;

	ul {
		padding-left: 0;
		list-style-position: inside;
		list-style: none;
		margin-bottom: 0;
		li {
			float: left;
			margin-right: 20px;
			&:last-child {margin-right: 0;}
			a {
				color: #999;
				text-decoration: none;
				&:hover {color: $cor1;}
			}
		}
	}

	.alturarow1 {
		height: 60px; 
		position: relative; 
		width: 100%;
		.container {text-align: center;}
	}

	.row1 {
		background: #DDD;
		width: 100%;
		padding: 10px 0;
		z-index:10;
		position: absolute;
	}
	.row2 {background: #EEE; width: 100%; padding: 25px 0;}

	.fixed {
		position:fixed; 
		bottom: 0;
		@media (max-width: 768px) {
			position: relative;
		}
	}

	p {float: left; margin-bottom: 0;}
	.subscribe {
		margin: 7px 20px 0 0;
		font-size: 18px;
	}

	#link-redes-sociais {
		display: inline-block;
		float: left;
	}

	#link-redes-sociais a {margin-left: 10px; display: in}
	#link-redes-sociais a:last-child {margin-right: 0;}
	#link-redes-sociais a i {
		color: #777;
		font-size: 24px;
		margin-top: 10px;
		@include transicao(0.4s);
		&:hover {color: $cor1;}
	}

	@media (max-width: 768px) {
		.subscribe {margin-bottom: 10px;}
		#link-redes-sociais {float: left; margin-top: 10px;}
		#link-redes-sociais a {margin-left: 0; margin-right: 10px;}
		.row2 ul {float: left !important; margin-top: 10px;}
	}

	@media (max-width: 543px) {

		ul {width: 100%; text-align: center;}
		ul li {
			margin: 0 5px;
			display: inline;
			text-align: center;
			float: none;
		}

		.subscribe {
			margin: 10px auto;
			width: 100%;
			text-align: center;
		}

		#formnews_footer {
			input, button {width: 100%; margin-bottom: 10px;}
		}

		#link-redes-sociais {margin: 10px auto;}

	}

}

//#single-page .headerWrapper {height: 300px;}
#single-post,
#single-page {
	.headerWrapper {
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		&:before {
			content: "";
			width: 100%;
			height: 320px;
			display: table;
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=0 );
		}

		@media (max-width: 768px) {
			background-attachment: inherit;
		}

	}
	.titleWrapper {
		position: absolute;
		bottom: 0;
		width: 100%;
		h1 {
			color: #FFF;
			font-weight: 300;
			font-size: 5rem;
			margin-bottom: 50px;
			@media (max-width: 768px) {font-size: 3rem;}
		}
		.readmore {
			display: none;
			text-align: center;
			color: #FFFFFF;
			margin-bottom: 20px;
			i {font-size: 18px; cursor: pointer;}
		}	
	}
	.content-post {
		padding: 50px 0;
		p {
			font-size: 18px;
			line-height: 1.5;
		}
		a {color: $cor1;}
		img {
			max-width: 100%;
			height: auto;
			margin: 40px 0;
		}
		blockquote {
			margin: 40px 0;
			color: $cor1;
			font-size: 21px;
		}
	}
}

#row1 .container {
	padding-left: 0;
	padding-right: 0;
}

#row1 .col {
	padding-left: 0;
	padding-right: 0;

	.post {
		overflow: hidden;
		height: 250px;
		.thumbnail {
			margin: 0;
		}		
		&.left {
			height: 500px;
			@media (max-width: 990px) {
				height: 320px;
			}

			.title-wrapper span {
				background: #FFF;
				padding: 5px 10px;
			}

		}

		.title-wrapper {
			position: absolute;
			left: 0;
			bottom: 0;
			padding: 40px;
			width: 100%;
			z-index: 1;
			@include transicao(0.3s);
			&:before {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				content: "";
				display: block;
				background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); 
				background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); 
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );	
				z-index: -1;
			}

			h1, h2, h3, h4, h5, h6 {color: #FFF;}

			a, span {
				color: $cor1;
				text-decoration: none;
			}
		}

		&:hover {
			.title-wrapper {padding: 50px 40px;}
		}
	}

	
}

#contentPosts {
	margin-top: 20px;
	margin-bottom: 20px;
	.post {margin: 20px 0;}
	.post a {
		color: #000;
		text-decoration: none;
	}

	//h3 {font-size: 30px;}

	.category-description {
		color: #999;
		font-style: italic;
		font-size: 18px;
		line-height: 28px;
	}

	@media (max-width: 543px) {
		.post {text-align: center;}
	}

}

header.category {
	border-bottom: 1px solid #DDD;
	margin-bottom: 30px;
	padding-bottom: 30px;
	margin-top: 30px;
}

#sidebar {
	background: rgb(250,250,250);
	padding: 20px;
	ul {
		padding-left: 0;
		list-style-position: inside;
	}

	.box {margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid rgb(240,240,240);}
	.box:last-child {border-bottom: 0; margin-bottom: 0;}
	a {color: #000 !important; text-decoration: none;}
	a:hover {color: $cor1 !important;}

	.posted-in {
		padding-bottom: 20px;
		border-bottom: 1px solid #EEE;
		margin-bottom: 30px;
		p {font-size: 16px; margin-bottom: 0}
	}

	.searchform {width: 100%;}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
		margin: 20px 0;
	}
	form input {background: #FFF;}
	.post {
		margin-bottom: 20px;
		margin-top: 0;
		border-bottom: 1px solid #EEE;
		img {margin: 0;}
		&:last-child {
			border-bottom: 0;
			margin-bottom: 20px;
			padding-bottom: 20px;
		}
	}
	.post h5 {font-size: 2rem;}

	@media (max-width: 768px) {.recent-posts {text-align: center;}}
	@media (max-width: 543px) {.recent-posts {display: none;}}
}

#single-page.search-results .headerWrapper {
	background: url('../img/bg_search.jpg') no-repeat center top;
	background-size: cover;
}
#single-page.search-results .headerWrapper:before {height: 150px;}

#page404 {
	text-align: center;
	padding: 150px 0;
	h1 {font-size: 6rem;}
	a {color: $cor1;}
}

@media (max-width: 768px) {
	.logged-in header#site nav ul {top: 101px;}
}

@media (max-width: 600px) {
	#wpadminbar {position: fixed !important;}
}

.economic-indicators {
	text-align: center;

	a {text-decoration: none;}

	.indicator {
		width: 100%;
		padding: 60px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		min-height: 280px;
		@media (max-width: 768px) {
			&:last-child {margin-top: 30px;}
		}

		@include transicao(0.4s);
		&:hover {opacity: 0.8;}
		
		/*
		&:after {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: rgba(0,0,0,0.5);
			content: "";
			display: block;
			z-index: 0;
			@include transicao (0.5s);
		}*/

		//a:hover {text-decoration: none !important;}

		h3 {
			font-weight: 700;
			text-transform: uppercase;
		}
		h3, p, span {
			width: 100%;
			color: #FFF;
		}

		p {padding-bottom: 20px;}

		span {
			background: #FFF;
			color: $cor1;
			padding: 10px;
			width: auto;
			text-transform: uppercase;
		}

	}

}

.ad {
	a {text-align: center; display: block;}
	img {margin: 0 auto;}
}

.breadcrumbs {
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 5px 0;
	font-size: 13px;
	border-bottom: 1px solid #EEE;
	ul, ol {
		list-style: none;
		padding-left: 0;
		&:after {
			content: "";
			display: block;
			clear: both;
		}
		li {
			float: left;
			margin-right: 10px;
			&:last-child a {color: $cor1;}
			&:last-child:after {
				content: "";
			}
			&:after {
				margin-left: 10px;
				content: ">";
				color: #999;
				font-family: "Arial", sans-serif;
			}
			a {
				color: #999;
				text-decoration: none;
			}
		}
	}
}

#formnews_footer {
	float: left;
	margin-bottom: 0;

	@media (min-width: 98px) {	
		margin-right: 20px;	
		input {
			margin-right: 5px;
			width: 250px;
		}
	}

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #999;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: #999;
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: #999;
	}
	:-moz-placeholder { /* Firefox 18- */
		color: #999;
	}
}

.footerwrapper-right {
	position: absolute;
	right: 0;
}